/**/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    font-family: 'Open Sans', sans-serif !important;

}

#ar-page {
    text-align: center;
}

#ar-page .title{
    text-align: right;
}

.card {
    text-align: right;
    width:40%;
    text-overflow: clip;
    max-width: 150px;
    padding:5px ;
    border-radius: 0;
    display: inline-table;
}

.title {
    height: 50px;
    font-size: 14px;
}

#ajax-loader {
    top:5%;
    left:48%;
    position: absolute;
}

.publish-date {
    color: #808080;
    font-size: 8px;
    text-align: left;
}

#post-page .content {
    direction: rtl !important;
    text-align: right !important;
    padding: 20px  !important;
    font-size: 16px  !important;
}

div.featured-image-container {
    text-align: center !important;
}

.post-featured-image {
    max-width: 100% !important;
    max-height: 250px !important;
}

.listingFeaturedImage {

}

.list-item {
    border-bottom: solid 1px #e2e2e2 !important;
}

.list-item__title {
    direction: rtl;
    text-align: right !important;
    min-height: 53px !important;
}

.list-item__right {
    padding: 5px 14px 5px 0 !important;
}
.list-item__left {
    display: block !important;
    width:100% !important;
}

.list-item__thumbnail {
    height: 75px !important;
    width: 75px !important;
    border-radius: 1px !important;
}

.list-item__subtitle {
    font-size: 11px;
}
ons-speed-dial {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;

}